{%extends "base.html"%}
{%block title %}Add | {{fname}}{% endblock %}
{%block content%}
<div class="mid">
<div><b>{{fname}}</b>&nbsp;|&nbsp;<a href="/logout">Logout</a></div>
<h1>Update Status</h1>
<form action="" method="post">
<label><h2>Job: {{todo.todo_job}}</h2></label>
<h2>Status: {{todo.status}}</h2>
<select name = "status" required > 

<option value = "pending">Pending</option>
<option value = "cancelled">Cancelled</option>
<option value = "done">Done</option>
</select>


<input type="hidden" name="id" value="{{todo.id}}">
<input type="submit" value="Update Status">
{%csrf_token%}
</form>
</div>
{% endblock %}